﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Melhor Oferta</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo.png" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="~/css/magnific-popup.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="menu-item" class="menu-item hide-menu">
        <div class="container">
            <ul>
                <a href="@Url.Action("Index","Home")"><li>home</li></a>
                <a href="@Url.Action("Index","Contato")"><li>contato</li></a>
                <a href="#planos"><li>planos</li></a>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="main">
            <header>
                <nav class="navbar-reverse navbar-fixed-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="#"><img src="/img/logo.png" style="height:32px;"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="@Url.Action("Index","Contato")">Contato</a></li>
                                <li><a href="~/Home/Index/#planos">Planos</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="@Url.Action("Index","Login")">LOGIN</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->

                </nav>
            </header>
            @RenderBody()
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </footer>
            <script src="~/js/jquery-3.1.1.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/owl.carousel.min.js"></script>
            <script src="https://use.fontawesome.com/55b73bf748.js"></script>
            <script src="~/js/jquery.magnific-popup.js"></script>
            <script src="~/js/script.js"></script>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <p> Handcrafted with <span class="fa fa-heart"></span> by <a href="http://themewagon.com/">ThemeWagon</a></p> -->
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="https://use.fontawesome.com/55b73bf748.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>