﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Melhor Oferta</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/logo.png" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="~/css/magnific-popup.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet">

    <script>
        function fnPlano(meses) {
            if (meses == 1) {
                document.getElementById('hfComprar').value = 1;
            } else if (meses == 3) {
                document.getElementById('hfComprar').value = 3;
            } else if (meses == 6) {
                document.getElementById('hfComprar').value = 6;
            }
        }

        function fnComprar() {
            var meses = document.getElementById('hfComprar').value;

            if (meses != "") {
                var url = "@Url.Action("Pagamento", new { @meses = "-1" })";
                window.location.href = url.replace("-1", meses);
            }
            else {
                alert("Por favor, escolha um plano!");
            }
        }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96392517-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @*<div id="menu-item" class="menu-item hide-menu">
            <div class="container">
                <ul>
                    <a href="@Url.Action("Index","Login")"><li>Login</li></a>
                    <a href="index.html"><li>home</li></a>
                    <a href="#about"><li>sobre</li></a>
                    <a href="#expertise"><li>pacotes</li></a>
                </ul>
            </div>
        </div>*@
    <div class="main" id="main">
        <header class="bg-img header">
            <nav class="navbar navbar-reverse navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="#"><img src="/img/logo.png" style="height:32px;"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="http://melhoroferta.online/">Home <span class="sr-only">(current)</span></a></li>
                            <li><a href="@Url.Action("Index","Contato")">Contato</a></li>
                            <li><a href="#planos">Planos</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Index","Login")">LOGIN</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->

            </nav>
            <div class="container">
                <div class="row">
                    <div class="intro-box">
                        <div class="intro">
                            <img src="/img/logo.png" style="max-height:30%;max-width:70%;">
                            @*<h1>Melhor oferta</h1>*@
                            <p>Gestão de Preços para o seu negócio</p>
                            <a class="btn vira-btn" href="#about">Conheça a plataforma</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="about" class="about section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="title">Quem somos</h2>
                        <p>
                            Somos a ferramenta de gestão de preços com o melhor custo benefício do mercado. Acompanhe um dashboard com atualização contínua de dados e tenha informações suficientes para criar estratégias e otimizar seus resultados. Aumente suas vendas com inteligência de precificação e análise de concorrência!
                        </p>
                        <p>
                            Com a ferramenta é possível comparar preços, receber o histórico e alertas de alterações feitas pela concorrência, sugestão de valores competitivos, otimização de suas imagens e posicionamento na primeira página do Google.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="purpose section">
            <div class="container">
                <h2 class="title">O que fazemos</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <div class="card-icon">
                                    <span class="fa fa-search" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="vira-card-content">
                                <h3>Comparador de Preços</h3>
                                <p>
                                    Aumente suas vendas!
                                    Acompanhe os preços dos seus concorrentes e economize tempo e esforços.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <div class="card-icon">
                                    <span class="fa fa-warning" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="vira-card-content">
                                <h3>Alertas</h3>
                                <p>
                                    Fique sempre um passo à frente
                                    Receba alertas de alterações de preço feitas pela concorrência
                                    Acompanhe o histórico de preços dos concorrentes
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <div class="card-icon">
                                    <span class="fa fa-camera" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="vira-card-content">
                                <h3>Otimize suas imagens</h3>
                                <p>
                                    Torne-se competitivo, utilize fotos melhores do que as de seus concorrentes
                                    Uma imagem vale mais que mil palavras, otimize suas fotos e vendas mais!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <div class="card-icon">
                                    <span class="fa fa-google" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="vira-card-content">
                                <h3>Apareça na primeira página do Google</h3>
                                <p>
                                    Compare e otimize o posicionamento do seu site na busca do Google
                                    Aumente tráfego do seu site de forma gratuita
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="expertise" class="expert">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 bg-img">
                        <div></div>
                    </div>
                    <div class="col-sm-5 section">
                        <h2 class="title">Quem usa recomenda</h2>
                        <div id="expert-slider" class="owl-carousel">
                            <div class="item" style="text-align:center;">
                                <p style="">
                                    "Contratamos o serviço e imediatamente tivemos uma redução drástica do tempo de trabalho e principalmente um aumento substancial nas vendas! Indispensável!!"
                                </p>
                                <div style="display:inline-block;">
                                    <table>
                                        <tr>
                                            <td style="padding-right:5px;">
                                                <img src="~/img/renato.jpg" style="width:40px;border-radius:20px;" />
                                            </td>
                                            <td>
                                                Renato Rodrigues
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="item">
                                <p>
                                    "Eu me tornei mais competitivo, aumentei minhas vendas e tive maior rentabilidade com o software Melhor Oferta."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact section">
            <div class="container">
                <h2 class="title">Selecione o seu plano</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="vira-card">
                            <div class="vira-card-header">
                                <section id="planos"></section>
                            </div>
                            <div class="vira-card-content">
                                <h3>MENSAL</h3>
                                1 mês
                                <p class="duvidas">VALOR TOTAL: </p>
                                <p class="price">R$ 129,00 </p>
                                <p class="discount">** Descontos válidos apenas para novos clientes que contratarem <wbr /> os planos com a periodicidade trimestral e anual. </p>
                                <p></p>
                                <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                                    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                                    <input type="hidden" name="code" value="8A6233B8A2A251EBB45FAFA3BB39E353" />
                                    <input type="hidden" name="iot" value="button" />
                                    <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                                </form>
                                <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
                                <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                                @*<input type="radio" onchange="fnPlano(1)" name="rdplano" />*@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="vira-card">
                            <div class="vira-card-header">

                            </div>
                            <div class="vira-card-content">
                                <h3>TRIMESTRAL</h3>
                                3 meses
                                <p class="duvidas">VALOR TOTAL: </p>
                                <p class="price">R$ 159,00 </p>
                                <p> Você estará economizando:</p>
                                <p class="redPrice">R$ 228,00</p>
                                <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                                    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                                    <input type="hidden" name="code" value="952F301F2222567664E64F969540097A" />
                                    <input type="hidden" name="iot" value="button" />
                                    <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                                </form>
                                <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
                                <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                                @*<input type="radio" onchange="fnPlano(3)" name="rdplano" />*@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="vira-card">
                            <div class="vira-card-header">

                            </div>
                            <div class="vira-card-content">
                                <h3>SEMESTRAL</h3>
                                6 meses
                                <p class="duvidas">VALOR TOTAL: </p>
                                <p class="price">R$ 199,00 </p>
                                <p> Você estará economizando:</p>
                                <p class="redPrice">R$ 575,00</p>
                                <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                                    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                                    <input type="hidden" name="code" value="FB1EC3581E1ED90CC4300F8148BE99F6" />
                                    <input type="hidden" name="iot" value="button" />
                                    <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                                </form>
                                <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
                                <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                                @*<input type="radio" onchange="fnPlano(6)" name="rdplano" />*@
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hfComprar" />
                    @*<div class="col-sm-12" style="padding-bottom:30px;">
                            <button class="btn" onclick="fnComprar()">Comprar</button>
                        </div>*@

                </div>
            </div>
        </section>
        <section id="duvidas" class="about section" style="padding-top:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="title">Dúvidas?</h2>
                        <p class="duvidas">
                            Gostaríamos muito de respondê-las!
                        </p>
                        <p class="duvidas">
                            <i class="fa fa-phone" aria-hidden="true"></i> <i class="fa fa-whatsapp" aria-hidden="true"></i> (11) 972720386
                        </p>
                        <p class="duvidas">
                            <i class="fa fa-envelope" aria-hidden="true"> contato@melhoroferta.online</i>
                        </p>

                        <!--<img src="assets/images/signature.png">
                        <span>Vira Studio-ceo</span>-->
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="http://melhoroferta.online/"><i class="fa fa-tags" aria-hidden="true"></i>Melhor Oferta</a><br />
                        <a href="#main">Home | </a>
                        <a href="@Url.Action("Index","Contato")">Contato |</a>
                        <a href="#planos">Planos </a><br />

                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-danger">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        Melhor Oferta 2017. Todos os direitos reservados.
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="https://use.fontawesome.com/55b73bf748.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
