﻿@{
    ViewBag.Title = "Pagamento";
    Layout = "~/Views/main_layout.cshtml";
}

<div class="main">
    <section class="purpose section">
        <div class="container">
            <h2 class="title">Pagamento</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <div class="card-icon">
                                <span class="fa fa-diamond" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="vira-card-content">
                            <h3>Boleto Bancário</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <div class="card-icon">
                                <span class="fa fa-cogs" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="vira-card-content">
                            <h3>Cartão de crédito</h3>
                            <select class="form-control" style="height:50px;padding:0px 0px 0px 25px;">
                                <option value="Mastercard" label="Mastercard"></option>
                                <option value="Visa" label="Visa"></option>
                                <option value="Amex" label="Amex"></option>
                                <option value="Diners" label="Diners"></option>
                                <option value="Elo" label="Elo"></option>
                            </select>
                            <input type="text" id="txtNumCartao" name="txtNumCartao" class="form-control" placeholder="Número do cartão" onblur="PegaBandeira()" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <div class="card-icon">
                                <span class="fa fa-cogs" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="vira-card-content">
                            <h3>Débito online</h3>
                            <select class="form-control" style="height:50px;padding:0px 0px 0px 25px;">
                                <option value="Banco do Brasil" label="Banco do Brasil"></option>
                                <option value="Bradesco" label="Bradesco"></option>
                                <option value="Itau" label="Itaú"></option>
                                <option value="Banrisul" label="Banrisul"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <div class="card-icon">
                                <span class="fa fa-cogs" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="vira-card-content">
                            <h3>Depósito Bancário</h3>
                            <select class="form-control" style="height:50px;padding:0px 0px 0px 25px;">
                                <option value="Banco do Brasil" label="Banco do Brasil"></option>
                                <option value="HSBC" label="HSBC"></option>
                            </select>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-bottom:30px;">
                <button class="btn" onclick="fnComprar()">Comprar</button>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery-3.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="https://use.fontawesome.com/55b73bf748.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/script.js"></script>
    @*<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>*@
    <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
    <script type="text/javascript">
        PagSeguroDirectPayment.setSessionId('@ViewBag.SessionId');

        var Pagamentos = PagSeguroDirectPayment.getPaymentMethods({
            amount: @ViewBag.Valor,
            success: function(response) {
                console.log(response);
            },
            error: function(response) {
                //tratamento do erro
            },
            complete: function(response) {
                //tratamento comum para todas chamadas
            }
        });
    </script>
    <script type="text/javascript">
        function Pagar() {
            var HashComprador = PagSeguroDirectPayment.getSenderHash();
        }

        function PegaBandeira() {
            var NumCartao = document.getElementById('txtNumCartao').value;
            PagSeguroDirectPayment.getBrand({
                cardBin: NumCartao,
                success: function(response) {
                    console.log(response);
                },
                error: function(response) {
                    //tratamento do erro
                },
                complete: function(response) {
                    //tratamento comum para todas chamadas
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //var hash = PagSeguroDirectPayment.getSenderHash();
            //var sessionID = document.getElementById("dnaSessionId").value;
            //if (sessionID != "") {

            //}
        });
    </script>
</div>